body{
	background-color:#4682B4;
}
header{
	text-align: center;
	font:normal 15pt Arial;
	color: white;
}

section{
	background-color: white;
	width: 400px;
	margin: auto;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0,432);
}
div{
	margin-top: 8px;
}
footer{
	text-align: center;
	font: italic;
}
